body
{
    background: linear-gradient(hsl(0, 0%, 10%), hsl(0, 0%, 6%)) no-repeat fixed;
    color: ghostwhite;
    height: auto;
    margin: 0;
    transform: tranlate3d(0,0,0);
}

h2, small, p, figcaption
{
    font-family: sans-serif;
}
h1 
{ 
    font-family: Arial, Helvetica, sans-serif;
}
hr
{
    opacity: 0.5;
}

.title
{
    text-align: center;
}

.screen-wrap
{ height: 100vh; }


nav
{
    z-index: 100;
    width: 100vw;
    height: 2em;
    position: fixed;
    top: 0;
    text-align: center; margin-bottom: 6em;
}
nav > a > div
{
    font-weight: 550;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    
    color: white;
    padding: 0.5em;
    margin: 0.25em;
    margin-bottom: 0.5em;
    width: 15%;

    background: rgba(25, 25, 25, 0.4);
    outline: solid white 1px;
    cursor: pointer;
}

nav > div
{
    font-size: 4em;
    width: 1.5em;
}

nav > div:active, nav > a > div:active
{
    opacity: 0.8;
}


@media screen and (min-width: 601px), screen and (min-height: 601px)
{
    nav > div
    {
        display: none;
    }
    nav > a > div
    {
        display: inline-block;
    }
}
@media screen and (max-width: 600px), screen and (max-height: 600px)
{
    nav > div
    {
        display: block;
    }
    nav > a > div
    {
        display: none;
        background: rgba(25, 25, 25, 0.7);
    }
    
    @media screen and (orientation: portrait)
    {
        nav > a > div
        {
            width: 40%;
            margin-left: 10%;
            margin-right: 50%;
        }   
    }
    @media screen and (orientation: landscape)
    {
        nav > a > div
        {
            width: 25%;
        }
        nav > a:nth-child(2n + 1) > div
        {
            margin-right:30%;
        }
    }
}

.fade-in
{
    animation: fadeIn linear 0.2s;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

footer
{
    background-color: hsl(0, 0%, 10%);
    border-top: 2px solid #222222;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    color: lightgrey;
}