body
{
    background: linear-gradient(hsl(0, 0%, 10%), hsl(0, 0%, 6%)) no-repeat fixed;
    color: ghostwhite;
    height: auto;
    margin: 0;
    margin-top: 2em;
}

h2, small, p, figcaption
{
    font-family: sans-serif;
}
h1 
{ 
    font-family: Corbel, monospace;
}
hr
{
    opacity: 0.5;
}

.title
{
    text-align: center;
}

.screen-wrap
{ height: 100vh; }


nav
{
    z-index: 100;
    width: 100vw;
    height: 2em;
    position: fixed;
    top: 0;
    text-align: center; margin-bottom: 6em;
}
nav > a > div
{
    font-weight: 550;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    
    color: white;
    padding: 0.5em;
    margin: 0.25em;
    margin-bottom: 0.5em;
    width: 15%;

    background: rgba(25, 25, 25, 0.4);
}

@media screen and (max-width: 510px), screen and (max-height: 510px)
{
    
}

a > div
{
    cursor: pointer;
    outline: solid white 1px;
}
a > div:active
{
    opacity: 0.8;
}

footer
{
    background-color: hsl(0, 0%, 10%);
    border-top: 2px solid #222222;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    color: lightgrey;
}